.Container {
    background-color: rgb(178, 134, 32);
}

.navbar-size {
    background-color: rgb(152, 90, 8);
    margin: 0 auto;
}

.userImageSize {
    height: 56px;
    margin: 4px 0;
}

.linkedin {
    padding: 30%;
    padding-bottom: 40%;
}

.mainContainer {
    color: rgb(128, 0, 0);
    background-color: rgb(167, 128, 38);
    height: calc(100vh - 64px);
}

.materialboxed-image {
    margin: 0 auto;
    height: 300px;
}

.click-me-button {
    background-color: rgb(225, 65, 129);
    margin-top: 50px;
}
